section.sectionKV
	section.sectionKV__inner
		//- SPECIFIC KV CLASS
		figure.sectionKV__inner__imageArea(class="topSection")
			div(class="sectionKV__inner__imageArea__image")
		div.sectionKV__inner__textArea
			h1.sectionKV__inner__textArea__text  Lorem ipsum dolor sit amet