section.section03
    h2.section03__header(id="#3") CONTACT US
    .section03__inner
        fieldset
            table
                thead
                    tr
                        td(colspan="2") Feedback
                tbody 
                    tr
                        td 
                            input(type="text" placeholder="Name")
                    tr
                        td
                            input(type="text" placeholder="Details")