section.section01
	h2.section01__header(class="scrollAnchor") ABOUT IPSUM
	section.section01__inner
		.section01__inner__textArea
			//- p.section01__inner__textArea__text(class="scrollIn01")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet officiis maiores enim repellat natus facere sint explicabo neque aperiam incidunt, sed iure autem expedita iusto voluptas optio praesentium nihil suscipit.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, necessitatibus iure distinctio quos eius magnam placeat modi illum commodi harum quaerat cum veritatis voluptatem, nostrum ipsum nulla possimus debitis quod!