section.section02
    h2.section02__header(class="scrollAnchor") LOREM IPSUM
        - var startNo = 0;
    section.section02__inner
        while startNo < 4
            .section02__inner__textArea
                p.section02__inner__textArea__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet officiis maiores enim repellat natus facere sint explicabo neque aperiam incidunt, sed iure autem expedita iusto voluptas optio praesentium nihil suscipit.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, necessitatibus iure distinctio quos eius magnam placeat modi illum commodi harum quaerat cum veritatis voluptatem, nostrum ipsum nulla possimus debitis quod!
                -startNo++